 .ui-tooltip .ui-tooltip-text {
                background-color: red;
                color: #fff;
            }
::ng-deep .tooltip .ui-tooltip-text {
                background-color: red;
                color: #fff;
}
.ui-tooltip-text.ui-shadow.ui-corner-all {
    background-color: red;
          color: #fff;
}
.styledTooltip{
    background-color: red;
          color: #fff;
}