header {
    .logo {
        font-weight: bold;
    }
    div{
        table{
            tbody{
                tr{
                    td{
                        a {
                            padding: 1.5em;                            
                            font-size: 1.2em;                           
                            color: green;
                        }
                    }
                }
            }
        }
    }
}