<button class="btn-primary" pTooltip="Click to create a new Amenity" (click)="createNewAmenity()">New Amenity</button>
<br>
<div class="float-right" *ngIf="newAmenity">
    <form [formGroup]="amenityRegistrationForm" (ngSubmit)="createAmenity()">
        <table class="table table-striped table-hover" style="width: 25rem;">
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="text" formControlName="amenityName" class="form-control" pTooltip="Name of Amenity"
                            [ngClass]="{ 'is-invalid': submitted && f.amenityName.errors }" name="amenityName"
                            id="amenityName" placeholder="Name of the Amenity" style="width: 100%;">
                        <div *ngIf="submitted && f.amenityName.errors" class="invalid-feedback">
                            <div *ngIf="f.amenityName.errors.required">Name is required</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="price" class="form-control" pTooltip="Price of Amenity being provided"
                            [ngClass]="{ 'is-invalid': submitted && f.price.errors }" formControlName="price" id="price"
                            placeholder="Price" style="width: 100%;">
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Price is required</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" pTooltip="Create the amenity with given details" class="btn-primary"
                        value="Create Amenity"></td>
                <td><input type="reset" pTooltip="Reset the form" class="btn-primary" value="Reset"></td>
            </tr>
        </table>
    </form>
</div>

<p-table #amenityTable *ngIf="amenitiesList?.length" [style]="{'width':'50%','margin-top':'8px'}"
    [value]="amenitiesList" [globalFilterFields]="['amenityId','amenityName','price']" [paginator]="true"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10,15]" [rows]="10">
    <ng-template pTemplate="caption">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" pTooltip="Use this to filter globally"
            (input)="amenityTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="amenityId">Amenity Id<p-sortIcon field="amenityId"></p-sortIcon>
            </th>
            <th pSortableColumn="amenityName">Amenity Name<p-sortIcon field="amenityName"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Price Per Day<p-sortIcon field="price"></p-sortIcon>
            </th>
            <th>Deleted</th>
            <th>Action</th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" placeholder="Amenity Id" pTooltip="Filter by Amenity Id"
                    (input)="amenityTable.filter($event.target.value, 'amenityId', 'contains')" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" pTooltip="Filter by Amenity name"
                    (input)="amenityTable.filter($event.target.value, 'amenityName', 'contains')" placeholder="Name"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="amenityTable.filter($event.target.value, 'price', 'contains')"
                    pTooltip="Filter by Price" placeholder="Price Per Day" class="p-column-filter">
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-amenity let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="amenity">
            <td>{{amenity.amenityId}}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="amenity.amenityName"
                            pTooltip="Editing the name of amenity" amenityName>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{amenity.amenityName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" min="100" [(ngModel)]="amenity.price"
                            pTooltip="Editing the price of amenity" amenityPrice>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{amenity.price}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <button class="btn-primary" (click)="toggleDelete(amenity.amenityName)"
                    pTooltip="{{amenity.deleted != 'Y'?'Delete the amenity':'Undelete the amenity'}}">
                    <div *ngIf="amenity.deleted != 'Y'">Delete</div>
                    <div *ngIf="amenity.deleted === 'Y'">Undelete</div>
                </button>
            </td>
            <td><button class="btn-primary" (click)="updateAmenity(amenity)" pTooltip="Save the updates made">
                    Update</button></td>
        </tr>
    </ng-template>
</p-table>