<div style="padding-left: 2.5%">
  Hi {{empName}}, <br>
  <table class="table table-bordered table-striped" style="width: 45%">
    <tr>
      <td><button class="btn btn-primary" routerLink="/admWelcome/roomAllocate"> Room Allocate</button>
      <td><button class="btn btn-primary" routerLink="/admWelcome/employeeManagement">Manage Employees</button></td>
      <td><button class="btn btn-primary" routerLink="/admWelcome/amenity">Manage Amenities</button></td>
      <td><button class="btn btn-primary" routerLink="/admWelcome/tourPackage">Manage Tour Packages</button></td>
      <td><button class="btn btn-primary" routerLink="/admWelcome/roomManagement">Manage Rooms</button></td>
      <td><button class="btn btn-primary" routerLink="/admWelcome/lookupManagement">Manage Lookups</button></td>
    </tr>
  </table>
  <router-outlet></router-outlet>