<button class="btn-primary" pTooltip="Create a new Tour Package" (click)="newTourPackage()">New Tour Packages</button>
<br>
<br>
<div *ngIf="newPackage" class="float-right">
    <form [formGroup]="tourPackageForm" (ngSubmit)="createTourPackage()">
        <table class="table table-striped table-hover" style="width: 25rem;">
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="text" formControlName="location" class="form-control"
                            pTooltip="Location of the Tour" [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                            name="location" id="location" placeholder="Location of the Tour" style="width: 100%;">
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">Location is required</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="text" formControlName="pricePerHead" class="form-control" pTooltip="Price Per Head"
                            [ngClass]="{ 'is-invalid': submitted && f.pricePerHead.errors }" name="pricePerHead"
                            id="pricePerHead" placeholder="Price Per Head" style="width: 100%;">
                        <div *ngIf="submitted && f.pricePerHead.errors" class="invalid-feedback">
                            <div *ngIf="f.pricePerHead.errors.required">Price Per Head is required</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <p-dropdown [options]="durations" formControlName="duration" class="form-control"
                            pTooltip="Duration of the Tour" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }"
                            class="form-control" placeholder="Select Duration of Tour" name="duration"
                            [(ngModel)]="duration" [virtualScroll]="false" optionLabel="displayName"
                            [style]="{'width':'200px', 'height':'auto'}">
                        </p-dropdown>
                        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                            <div *ngIf="f.duration.errors.required">Please select duration of Package</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" pTooltip="Complete the creation of tour package" class="btn-primary"
                        value="Create Tour Package"></td>
                <td><input type="reset" pTooltip="Reset the form" class="btn-primary" value="Reset"></td>
            </tr>
        </table>
    </form>
</div>
<p-table #tourPackageTable *ngIf="tourPackagesList?.length>0" [style]="{'width':'70%','margin-top':'8px'}"
    [value]="tourPackagesList" [paginator]="true" [rowsPerPageOptions]="[5, 10,15]" [rows]="10"
    [globalFilterFields]="['tourPackageId','tourPackageName','location','duration','pricePerHead']"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" pTooltip="Global Filter"
            (input)="tourPackageTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="tourPackageId">Package Id<p-sortIcon field="tourPackageId"></p-sortIcon>
            </th>
            <th pSortableColumn="tourPackageName">Package Name<p-sortIcon field="tourPackageName"></p-sortIcon>
            </th>
            <th pSortableColumn="location">Location<p-sortIcon field="location"></p-sortIcon>
            </th>
            <th pSortableColumn="duration">Duration<p-sortIcon field="duration"></p-sortIcon>
            </th>
            <th pSortableColumn="pricePerHead">Price Per Head<p-sortIcon field="pricePerHead"></p-sortIcon>
            </th>
            <th>Deleted</th>
            <th>Action</th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text"
                    (input)="tourPackageTable.filter($event.target.value, 'tourPackageId', 'contains')"
                    pTooltip="Filter by id" placeholder="Tour Package Id" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text"
                    (input)="tourPackageTable.filter($event.target.value, 'tourPackageName', 'contains')"
                    pTooltip="Filter By name" placeholder="Name" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text"
                    (input)="tourPackageTable.filter($event.target.value, 'location', 'contains')"
                    pTooltip="Filter by location" placeholder="Location" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text"
                    (input)="tourPackageTable.filter($event.target.value, 'duration', 'contains')"
                    pTooltip="Filter By Duration" placeholder="Duration" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text"
                    (input)="tourPackageTable.filter($event.target.value, 'pricePerHead', 'contains')"
                    pTooltip="Filter By Price" placeholder="Price Per Day" class="p-column-filter">
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tourPackage let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="tourPackage">
            <td>{{tourPackage.tourPackageId}}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" pTooltip="Name of the tour package"
                            [(ngModel)]="tourPackage.tourPackageName" tourPackageName>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{tourPackage.tourPackageName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                {{tourPackage.location}}
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="tourPackage.duration"
                            pTooltip="Update the tour package duration => this shoudl be a dropdown" duration>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{tourPackage.duration}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" min="2500" name="pricePerHead"
                            pTooltip="Update the tour package price" [(ngModel)]="tourPackage.pricePerHead"
                            tourPackagePrice>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{tourPackage.pricePerHead}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <button class="btn-primary" (click)="toggleDelete(tourPackage.tourPackageName)">
                    <div pTooltip="Delete the tour package" *ngIf="tourPackage.deleted != 'Y'">Delete</div>
                    <div pTooltip="Undelete the tour package" *ngIf="tourPackage.deleted === 'Y'">Undelete</div>
                </button>
            </td>
            <td><button class="btn-primary" pTooltip="Update the tour package details"
                    (click)="updateTourPackage(tourPackage)">
                    Update</button></td>

        </tr>
    </ng-template>
</p-table>