<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/home'">
        <i class="pi pi-home"></i>
      </a>
    </li>
    <li>
      <a routerLink="/login" [class.activated]="!loggedIn">
        <i class="pi pi-sign-in"></i>
      </a>
    </li>
    <li>
      <a routerLink="register" [class.activated]="!loggedIn">
        <i class="pi pi-user-plus"></i>
      </a>
    </li>
    <li>
      <a routerLink="contact" [class.activated]="true">
        <i class="pi pi-id-card"></i>
      </a>
    </li>
    <li *ngIf="loggedIn">
      <a routerLink="roomReg" [class.activated]="true">
        <i class="pi pi-key"></i>
      </a>
    </li>
    <li *ngIf="loggedIn">
      <a routerLink="logout" [class.activated]="true">
        <i class="pi pi-sign-out"></i>
      </a>
    </li>
  </ul>
</nav>