nav {
    background: black;
    height: 100%;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            a {
            color: #fff;
            padding: 20px;
            display: block;
            }
            .activated {
            color: #00a8ff;
            }
            
        }
    }
}




i:hover {
    background-color: transparent;
    transform: scale(1.25);
    cursor: pointer;
    box-shadow: none;
}
