<div class="float-right">
  <form [formGroup]="createRoomForm" (ngSubmit)="createRoom()">
    <table id="createRoom" class="table table-striped">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Specification</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Type Of Room</th>
          <td>
            <p-dropdown [options]="roomTypes" formControlName="typeOfRoom" class="form-control" pTooltip="Room Type"
              [ngClass]="{ 'is-invalid': submitted && f.typeOfRoom.errors }" class="form-control"
              placeholder="Select Room Type" name="typeOfRoom" [(ngModel)]="typeOfRoom" [virtualScroll]="false"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </td>
        </tr>
        <tr>
          <th>Model Of Room</th>
          <td>
            <p-dropdown [options]="roomModels" class="form-control" placeholder="Select Room Model"
              pTooltip="Room Model" name="modelOfRoom" [(ngModel)]="modelOfRoom" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.modelOfRoom.errors }" formControlName="modelOfRoom"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </td>
        </tr>
        <tr>
          <th>Category Of Room</th>
          <td>
            <p-dropdown [options]="roomCategoryList" class="form-control" placeholder="Select Room Category"
              pTooltip="Room Category" name="categoryOfRoom" [(ngModel)]="categoryOfRoom" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.categoryOfRoom.errors }" formControlName="categoryOfRoom"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </td>
        </tr>
        <tr>
          <th>Count of Rooms</th>
          <td>
            <input type="text" formControlName="countOfRooms" class="form-control"
              pTooltip="All rooms will have same configuration"
              [ngClass]="{ 'is-invalid': submitted && f.countOfRooms.errors }" id="countOfRooms"
              placeholder="Count Of Rooms" style="width: 100%;" value="1">
          </td>
        </tr>
        <tr>
          <td><input type="submit" pTooltip="Create Room(s) with given configuration" class="btn-primary"
              value="Submit">
          </td>
          <td><input type="reset" pTooltip="Reset form" class="btn-primary" value="Reset"></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<p-table #roomTable *ngIf="roomsList?.length" [style]="{'width':'70%','margin-top':'8px'}" [value]="roomsList"
  [globalFilterFields]="['roomNumber','floorNumber','roomCategory','roomModel','roomType']" [paginator]="true"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10,15]" [rows]="10">
  <ng-template pTemplate="caption">
    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
    <input type="text" pInputText size="50" placeholder="Global Filter" pTooltip="Global Filter"
      (input)="roomTable.filterGlobal($event.target.value, 'contains')" style="width:auto">&nbsp;
    <button class="btn-primary" pTooltip="View All Free Rooms" (click)="getRoomsByStatus(constants.VACANT)">Free
      Rooms</button> &nbsp;
    <button class="btn-primary" pTooltip="View All Booked Rooms" (click)="getRoomsByStatus(constants.OCCUPIED)">Booked
      Rooms</button> &nbsp;
    <button class="btn-primary" pTooltip="View All rooms" (click)="getAllRooms()">All Rooms</button>&nbsp;
    <button class="btn-primary" pTooltip="View All rooms" (click)="cleanUpRooms()">Cleanup Rooms</button>
  </ng-template>
  <ng-template pTemplate="header">
    <tr style="width: inherit">
      <th pSortableColumn="roomNumber">Room Number<p-sortIcon field="roomNumber"></p-sortIcon>
      </th>
      <th pSortableColumn="floorNumber">Floor Number<p-sortIcon field="floorNumber"></p-sortIcon>
      </th>
      <th pSortableColumn="roomCategory">Category<p-sortIcon field="roomCategory"></p-sortIcon>
      </th>
      <th pSortableColumn="roomModel">Model<p-sortIcon field="roomModel"></p-sortIcon>
      </th>
      <th pSortableColumn="roomType">Type<p-sortIcon field="roomType"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
    <tr>
      <th>
        <input pInputText type="text" (input)="roomTable.filter($event.target.value, 'roomNumber', 'contains')"
          pTooltip="Filter By Room Number" placeholder="Room Number" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" (input)="roomTable.filter($event.target.value, 'floorNumber', 'contains')"
          pTooltip="Filter By Floor Number" placeholder="Floor Number" class="p-column-filter">
      </th>
      <th>
        <p-dropdown [options]="roomRequestDefinitions" pTooltip="Filter By SNG or DBL"
          (onChange)="roomTable.filter($event.value, 'roomCategory', 'equals')" styleClass="p-column-filter"
          placeholder="Room Category" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span>{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>
        <p-dropdown [options]="roomRequestDefinitions" pTooltip="Filter By STE or DLX"
          (onChange)="roomTable.filter($event.value, 'roomModel', 'equals')" styleClass="p-column-filter"
          placeholder="Room Model" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span>{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>
        <p-dropdown [options]="roomRequestDefinitions" pTooltip="Filter By AC or NAC"
          (onChange)="roomTable.filter($event.value, 'roomType', 'equals')" styleClass="p-column-filter"
          placeholder="Room Type" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span>{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-room let-editing="editing" let-ri="rowIndex">
    <tr [ngClass]="{'free': room.roomStatus===constants.VACANT, 'filled':room.roomStatus===constants.OCCUPIED}"
      [pEditableRow]="room">
      <td>{{room.roomNumber}}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pTooltip="Change the floor Number" pInputText type="number" [(ngModel)]="room.floorNumber"
              floorNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{room.floorNumber}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="roomRequestDefinitions" pTooltip="Change the room Category"
              [(ngModel)]="room.roomCategory" placeholder="Room Category" roomCategory [showClear]="true">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{room.roomCategory}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="roomRequestDefinitions" pTooltip="Change the room Model" [(ngModel)]="room.roomModel"
              placeholder="Room Model" roomModel [showClear]="true">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{room.roomModel}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="roomRequestDefinitions" pTooltip="Change the room Type" [(ngModel)]="room.roomType"
              placeholder="Room Type" roomType [showClear]="true">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{room.roomType}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td><button class="btn-primary" pTooltip="Save the updated configuration of the room" (click)="updateRoom(room)">
          Update</button></td>
    </tr>
  </ng-template>
</p-table>