<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/home'">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <a routerLink="/login" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="register" [class.activated]="currentUrl == '/register'">
        <i class="material-icons">wc</i>
      </a>
    </li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">contacts</i>
      </a>
    </li>
    <li>
      <a routerLink="roomReg" [class.activated]="currentUrl == '/roomReg'">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">settings</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">refresh</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">search</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">explore</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">public</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">autorenew</i>
      </a></li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">add</i>
      </a>
    </li>
  </ul>
</nav>