<div class="float-right">
  <form [formGroup]="roomForm" (ngSubmit)="requestRoom()">
    <table class="table table-striped table-hover" style="width: 25rem;">
      <tr>
        <td colspan="2">
          <div class="form-group">
            <input type="text" formControlName="guestName" class="form-control" pTooltip="Name of the Guest staying"
              [ngClass]="{ 'is-invalid': submitted && f.guestName.errors }" id="guestName"
              placeholder="Primary Guest Please.." style="width: 100%;">
            <div *ngIf="submitted && f.guestName.errors" class="invalid-feedback">
              <div *ngIf="f.guestName.errors.required">Primary Guest Name is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input type="date" pTooltip="Checking In Date" formControlName="checkInDate" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.checkInDate.errors }">
            <div *ngIf="submitted && f.checkInDate.errors" class="invalid-feedback">
              <div *ngIf="f.checkInDate.errors.required">Check In Date is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <p-dropdown [options]="genders" class="form-control" placeholder="Select Gender" pTooltip="Gender"
              name="gender" [(ngModel)]="guestGen" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.guestGen.errors }" formControlName="guestGen"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
            </p-dropdown>
            <div *ngIf="submitted && f.guestGen.errors" class="invalid-feedback">
              <div *ngIf="f.guestGen.errors.required">Gender is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input type="date" pTooltip="Checking Out Date" formControlName="checkOutDate" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.checkOutDate.errors }">
            <div *ngIf="submitted && f.checkOutDate.errors" class="invalid-feedback">
              <div *ngIf="f.checkOutDate.errors.required">Check Out Date is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <p-dropdown [options]="guestCounts" class="form-control" placeholder="Select Guest Count"
              pTooltip="Number of guests" name="guestCount" [(ngModel)]="guestCount" [virtualScroll]="true"
              [ngClass]="{ 'is-invalid': submitted && f.guestCount.errors }" formControlName="guestCount"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
            </p-dropdown>
            <div *ngIf="submitted && f.guestCount.errors" class="invalid-feedback">
              <div *ngIf="f.guestCount.errors.required">Guest Count is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <p-dropdown [options]="roomModels" class="form-control" placeholder="Select Room Model"
              pTooltip="Room Model" name="roomModel" [(ngModel)]="roomModel" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.roomModel.errors }" formControlName="roomModel"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
            </p-dropdown>
            <div *ngIf="submitted && f.roomModel.errors" class="invalid-feedback">
              <div *ngIf="f.roomModel.errors.required">Please select model of Rooms</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <p-dropdown [options]="roomCategoryList" class="form-control" placeholder="Select Room Category"
              pTooltip="Room Category" name="roomCategory" [(ngModel)]="roomCategory" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.roomCategory.errors }" formControlName="roomCategory"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
            </p-dropdown>
            <div *ngIf="submitted && f.roomCategory.errors" class="invalid-feedback">
              <div *ngIf="f.roomCategory.errors.required">Room Category is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <p-dropdown [options]="roomTypes" class="form-control" placeholder="Select Room Type" pTooltip="Room Type"
              name="roomType" [(ngModel)]="roomType" [virtualScroll]="false"
              [ngClass]="{ 'is-invalid': submitted && f.roomType.errors }" formControlName="roomType"
              optionLabel="displayName" [style]="{'width':'200px', 'height':'auto'}">
            </p-dropdown>
            <div *ngIf="submitted && f.roomType.errors" class="invalid-feedback">
              <div *ngIf="f.roomCategory.errors.required">Room Type is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><input type="submit" pTooltip="Submit the Room Request" class="btn-primary" value="Submit Request"></td>
        <td><input type="reset" pTooltip="Reset the form" class="btn-primary" value="Reset"></td>
      </tr>
    </table>
  </form>
</div>