<table class="table table-bordered" style="width: 50%; background: greenyellow">
    <thead>
        <tr>
            <th>Tour Package Name</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Price Per Head</th>
            <th>No Of Tourists</th>
            <th>Travel Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tourPackage of tourPackagesList">
            <td>{{tourPackage.tourPackageName}}</td>
            <td>{{tourPackage.location}}</td>
            <td>{{tourPackage.duration}}</td>
            <td>{{tourPackage.pricePerHead}}</td>
            <td>
                <input type="number" pTooltip="No of the guests" name="guestCount"
                    id="guestCount{{tourPackage.tourPackageName}}" value="2">
            </td>
            <td>
                <input type="date" pTooltip="Tour Start Date" name="startDate" class="form-control"
                    id="startDate{{tourPackage.tourPackageName}}">

            </td>
            <td><button class="btn-primary" pTooltip="Book the Tour Package"
                    (click)="bookTour(tourPackage.tourPackageName)">
                    Book Tour</button></td>
        </tr>
    </tbody>
</table>